{% extends "news/base.html" %}
{% block title %}JustNews - Archive{% endblock %}
{% block content %}
<section class="archive">
    <h2>News Archive</h2>
    <h1>Archive</h1>
    {% for article in articles %}
    <div class="card">
        <div class="card-title">{{ article.title }}</div>
        <div class="card-summary">{{ article.summary }}</div>
        <div>{{ article.body|truncatewords:50 }}</div>
        <div class="card-footer">
            <a href="{% url 'article_detail' article.slug %}" class="button">Read More</a>
        </div>
    </div>
    {% empty %}
    <div>No archived articles found.</div>
    {% endfor %}
</section>
{% endblock %}
